.banner {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.banner-images {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.comedien-photo {
  aspect-ratio: 1 / 2;
  height: auto;
  width: 11.11%;
  object-fit: cover;
  scroll-snap-align: start;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 1024px) {
  .comedien-photo {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .comedien-photo {
    width: 33.33%;
  }

  .banner {
    margin-right: 0 !important;
    width: 100% !important;
  }
}
