<div class="video-grid" data-controller="videothumb">
  <% @pieces.each do |piece| %>
    <% piece.videos.each do |v| %>
      <%= link_to video_path(v), class: "video-card" do %>
        <div class="thumb-wrap" data-videothumb-target="wrap">
          <img alt="<%= v.title %>" data-videothumb-target="img" />
          <div class="play-badge">▶</div>
          <span class="thumb-src" data-videothumb-target="src" data-src="<%= asset_path(v.file) %>"></span>
        </div>
        <div class="video-meta">
          <div class="video-title"><%= v.title %></div>
          <div class="video-provider">Local</div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
