<div class="pieces-wrapper" data-sidebar-target="member">
  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>
    <h1 class="asso-title"><%= @member.first_name.capitalize %>&nbsp;&nbsp;<%= @member.last_name.titleize %></h1>
  </div>
</div>

<% @castings.each do |casting| %>
  <p><%= casting.piece.title %> : <%= casting.role %></p>
<% end %>
